// COLORS
$white: #e2e2e2;
$white-transparent: #fffffcac;
$dark-green: #065143;
$light-green: #0fe69e;
$black: #170d16;
$black-transparent: #051923be;
$black-clear: #1a191abd;

$black-shadow-color: hsl(306, 28%, 7% / 0.25);
$black-shadow-color-1: hsl(306, 28%, 7% / 0.44);

$black-shadow: 2px 4px 4px $black-shadow-color-1;
$black-shadow-hover: 6px 12px 12px $black-shadow-color;

$yellow: #f3f305;
$yellow-dark: #dbdb32;
$yellow-box: #5b5b1f;

// RESPONSIVE BREAKPOINTS
$bp-desktop: 75em; // 1200px
$bp-tablet-land: 67.5em; // 1080px
$bp-tablet: 48em; // 768px
$bp-phone: 37.5em; // 600px

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

$font-text: 'Lora', serif;
$font-title: 'Montserrat', sans-serif;

// $blue: #010057;
// $blue-transparent: #01005762;
// $dark-blue: #084c61;
// $light-blue: #00afac;
// $light-blue-transparent: #00afac62;
// $orange: #ec6a00;
// $orange-transparent: #ec6a0074;
// $orange-light: #f7a833;
