.about {
  height: fit-content;
  width: 100%;

  padding: 5rem 0;

  background-color: $black;
  position: relative;

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, min-content);

    padding: 1rem;

    max-width: 120rem;
    margin: 0 auto;

    @media only screen and (min-width: $bp-tablet) {
      grid-template-columns: repeat(9, 1fr);
    }

    .text-big {
      grid-row: 1 / 2;
      padding: 0.75rem;
      margin-left: 1.5rem;
      font-family: $font-text;

      @media only screen and (min-width: $bp-tablet) {
        grid-column: 2 / 9;
        grid-row: 1 / 2;
      }
    }

    .heading-3 {
      grid-row: 2 / 4;
      padding: 2rem 0.5rem;
      width: fit-content;
      max-width: 70rem;
      margin: 0 auto;
      font-family: $font-title;

      @media only screen and (min-width: $bp-tablet) {
        grid-column: 2 / 9;
        grid-row: 2 / 4;
      }
    }

    .text {
      color: $white;
      @include fluid-font(1.4rem, 2rem);
      padding: 3rem 1rem;
      font-family: $font-text;

      @media only screen and (min-width: $bp-tablet) {
        grid-column: 2 / 6;
        grid-row: 4 / 9;
      }
    }

    .pedro-image {
      width: 100%;
      max-width: 35rem;
      margin: 1rem auto;

      border-radius: 5px;

      @media only screen and (min-width: $bp-tablet) {
        grid-column: 6 / 9;
        grid-row: 4 / 5;

        margin-left: 8rem;
      }
    }

    .btn {
      margin-left: 1rem;

      @media only screen and (min-width: $bp-tablet) {
        grid-column: 2 / 4;
        grid-row: -1 / -1;
      }
    }
  }
}
