.projects-section {
  height: fit-content;
  width: 100%;

  background-color: $white;
  position: relative;
  overflow: hidden;

  padding: 10rem 0;

  .projects {
    padding: 0 1rem;

    .heading-3 {
      padding: 2rem 0.5rem;
      color: $black;
      max-width: 95rem;
      margin: 0 auto;
      text-align: center;
      font-family: $font-title;
    }

    &__more-text {
      color: $black;
      @include fluid-font(1.6rem, 2rem);
      margin: 3rem auto;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      width: fit-content;
      padding-bottom: 0.5rem;
      font-family: $font-text;

      @media only screen and(min-width: $bp-tablet) {
        display: none;
      }

      //   border-bottom: 1px solid $yellow-dark;

      &::after {
        content: ' \2192';
        position: absolute;
        margin-left: 1rem;
        width: 2rem;
        height: 2px;
      }

      &:hover {
      }
    }

    .project-flex {
      padding-top: 3rem;
      max-width: 100%;
      margin: 0 auto;

      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $bp-tablet) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      &__project-box {
        background-color: $black;

        border-radius: 5px;

        color: $white;
        margin: 0 auto;
        margin-bottom: 2rem;

        position: relative;
        z-index: 9999;

        max-width: 32rem;

        box-shadow: $black-shadow;

        @media only screen and (min-width: $bp-tablet) {
          cursor: pointer;
          margin-bottom: 3rem;
          margin: 0 2rem 3rem 2rem;

          &:hover {
            transform: scale(1.05);
            position: relative;

            transition-duration: 0.6s;
            box-shadow: $black-shadow-hover;

            position: relative;
            z-index: 1;
          }
        }

        @media only screen and (min-width: $bp-tablet-land) {
          width: 30rem;
        }

        @media only screen and (min-width: $bp-desktop) {
          width: 35rem;
        }

        &:nth-child(2) {
          display: none;

          @media only screen and(min-width: $bp-tablet) {
            display: block;
          }
        }

        &:nth-child(3) {
          display: none;

          @media only screen and(min-width: $bp-tablet) {
            display: block;
          }
        }

        .img-wrapper {
          width: 100%;
          height: fit-content;
          position: relative;
          margin-bottom: 2.25rem;

          .award {
            position: absolute;
            right: -1.25rem;
            top: -2rem;
            width: 5rem;
            fill: $black;
            background-color: $yellow;
            border-radius: 50%;
          }

          .project-image {
            width: 100%;
            max-height: 200px;
            border-radius: 5px 5px 0 0;
          }
        }

        .project-title {
          @include fluid-font(1.8rem, 2.8rem);
          margin: 1rem;
          font-family: $font-title;
        }

        .project-description {
          @include fluid-font(1.4rem, 1.6rem);
          margin-top: 2rem;
          margin-left: 1rem;
          font-family: $font-text;
        }

        .btn {
          margin-left: 1rem;
          margin-bottom: 3rem;
          @include fluid-font(1.4rem, 1.6rem);
        }
      }
    }
  }
}
